@import "tailwindcss";

:root {
  --background: #ffffff; /* White */
  --foreground: #000000; /* Black */
  --brand: #e4af24;      /* PESC Yellow */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: var(--brand);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000; /* Black */
    --foreground: #ffffff; /* White */
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}
